.App{
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container{
  display: block;
  text-align: center;
  height: 700px;
  width: 450px;
  border: 2px solid grey;
}
.title{
 margin-top: 50px;
}
.input__container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
input{
  height: 40px;
  width: 300px;
  border-radius: 15px;
  font-size: 16px;
}
.button__block{
  margin-top: 20px;
}
button{
  height: 30px;
  width: 200px;
  border-radius: 15px;
  font-size: 15px;
  background-color: white;
}
